*{
	margin:0;
	padding:0;
}
html,body{
	width:100%;
	height:100%;
	overflow: hidden;
	font-family: "微软雅黑";
}
ul,ol li{
	list-style: none;
}
#box{
	width:100%;
	height:100%;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}
header{
	width:100%;
	height:2.5rem;
	border-bottom: 1px solid #ff0000;
	text-align: center;
	line-height: 2.5rem;
	color:#7a7a7a;
	font-size:0.8rem;				
	position: relative;
}
header .header-p{
	width: 2.05rem;
	height:1.2rem;
	border: 1px solid #b1b1b1;
	text-align: center;
	line-height: 1.2rem;
	color: #b1b1b1;
	font-size: 0.65rem;
	font-size: 400;
	position: absolute;
}
.header-left{
	top:0.65rem;
	left:0.65rem;
}
.header-right{
	top:0.65rem;
	right:0.65rem;
}
.main{
	width:100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}
#nav{
	width: 100%;
	height: 2.1rem;
	position:relative;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	font-size: 0.75rem;
	color:#323232;
	padding: 0.1rem;
}
#nav li{
	width:5.5rem;
	height: 1.9rem;
	text-align: center;
	line-height: 1.9rem;
}
#nav li:nth-child(2){
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

#nav #fd{
	position: absolute;
	bottom:0;
	left:0;
	border: 1px solid #ff6600;
	width: 5.3rem;
	height:0;
	transition: all 1s linear;
}
.xqbox{
	flex: 1;
	display: flex;
	flex-flow: column;
}
.xingq{
	width: 100%;
	
}
.swiper-pagination-bullet-active{
	background:red!important;
}
.page{
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}
.swiper-container,.swiper-wrapper,.swiper-slide{
	width: 100%;
	height: 9.00rem;
}
.swiper-slide img{
	width:100%;
	height:100%;
}
.active{
	width:100%;
	height:1.8rem;
	color:#000;
	font-size: 0.8rem;
	line-height: 1.8rem;
}
#tuan{
	width:100%;
	height: 3rem;
	background: #df0a02;
	position: relative;
	color:#fff;
}
.nprise{
	font-size: 1.6rem;
	font-weight: 700;
}
.jia{
	font-size: 1.1rem;
	font-weight: 400;
}
.person{
	font-size: 0.9rem;
	position: absolute;
	bottom: 0;
	right:5.3rem;
}
.tgimg{
	display: block;
	position: absolute;
	bottom: 0;
	right:0;
	width: 4rem;
	height: 3rem;
}
.old{
	margin-top: 0.5rem;
	width: 100%;
	height: 1rem;
	color:#636363;
	font-size: 0.9rem;
	position: relative;
}
.oprise{
	text-decoration: line-through;
}
.tug{
	position: absolute;
	right:0.4rem;
	bottom:0rem
}
.tug .num{
	color:#df0a02;
}
.hd{
	width: 96%;
	padding: 2%;
	font-size: 0.6rem;
	color:#808080;
}
.time{
	width: 96%;
	height: 1rem;
	background: #ededed;
	padding: 2%;
	font-size: 0.6rem;
	color:#333;
}
.zt{
	font-size: 0.9rem;
}
.timec{
	font-size: 0.9rem;
	color:#ff0000;
}
footer{
	width: 96%;
	height: 2rem;
	border-top:1px solid #ededed ;
	padding: 1%;
	box-sizing: border-box;
	position: relative;
}
footer input{
	border: 1px solid #b2b2b2;
	height: 1.5rem;
	width: 1.5rem;
	background: #fff;
}
#shopnum{
	text-align: center;
	line-height: 1.5rem;
	width: 2.5rem;
}
#shopcar{
	position: absolute;
	bottom:0.3rem;
	right:0.3rem;
	width: 7rem;
	font-weight: 700;
}
#shopinfo{
	display: none;
}
















